<div class="container">
    <div class="card">
        <div class="card-header text-center text-black">
            ==== NEWS POSTINGS FACEBOOCK ====
        </div>
        <div class="card-body">
            <form class="col-12">
                <div class="form-group">
                    <label for="my-input">Post Gym</label>
                    <input id="my-input" class="form-control" type="text" [(ngModel)]="mensaje" name="mensaje">
                </div>
                <br>
                <button class="btn btn-dark" (click)="postFb()">Postear</button>
            </form>
        </div>
    </div>

</div>