* {
    padding: 0%;
    margin: 0%;
}

.bg-color {
    background: linear-gradient(to right, rgb(0, 14, 10), rgb(41, 70, 59), rgb(37, 73, 67));
    color: rgba(255, 255, 255, 0.658);
}

.f-family{
    font-family: fantasy;
    font-size: 40px;
}


.red {
    outline: red 1px solid;
}

.blue {
    outline: 1px solid blue;
}
