<div class="row">
<h3 class="col-12 text-center text-primary text-decoration-underline">LIST ROUTINE BUTTOCKS AND LEGS</h3>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Coach</th>
                <th scope="col">Objetive</th>
                <th scope="col">Serie</th>
                <th scope="col">Repetition</th>
                <th scope="col">Rest</th>
                <th scope="col">Intensy</th>
                <th scope="col">Training</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Pablo</td>
                <td>BUTTOCKS AND LEGS</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>Standar</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Squats</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Donkey kicks Izquierdo</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Monkey Kick Derecha</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Pile Squat</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>10</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Lenvantamiento de pierna derecha</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>10</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Levantamiento de pierna Derecha</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Toque al Talón</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sebas</td>
                <td>BUTTOCKS AND LEGS</td>
                <td>1</td>
                <td>1''</td>
                <td>0''</td>
                <td>Standar</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>24</td>
                <td>0''</td>
                <td>Standar </td>
                <td>Zancada Frontal</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>14</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Tijeras Verticales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>14</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Squats</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Estiramiento de abductores de pie</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Sebas</td>
                <td>BUTTOCKS AND LEGS</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>Standar</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>0''</td>
                <td>Standar</td>
                <td>Zancada cruzada</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>16</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>14</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Saltos con la Rodilla Estocada derecha</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>14</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Saltos con la rodilla Estocada izquierda</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>14</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Tijeras verticales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Fire Hydrant izquierdo</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Fire Hydrant derecha</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>12</td>
                <td>1''</td>
                <td>Standar</td>
                <td>Toque al Talón</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Sebas</td>
                <td>Descanso</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>Sebas</td>
                <td>Buttocks and Legs</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>Standar</td>
                <td>Elevación de Rodillas</td>

            </tr>
        </tbody>
    </table>

    <button class="btn btn-danger">Descargar Rutina Pdf</button>

</div>