<header class="col-12">
    <h1 class="text-center mt-5">Proyecto Final PySW 2021</h1>
</header>

<hr/>

<nav class="col-12">
    <ul class="nav nav-tabs justify-content-evenly text-center">
        <li class="col-md-3 col-sm-6 nav-item">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['Student']">Student</a>
        </li>
        <li class="col-md-3 col-sm-6 nav-item">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['User']">User</a>
        </li>
        <li class="col-md-3 col-sm-6 nav-item">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['Assitance']">Assitance</a>
        </li>
    </ul>
</nav>

<hr/>