<header class="col-12">
    <h1 class="text-center mt-5">Proyecto Final PySW 2021</h1>
</header>

<hr/>

<nav class="col-12">
    <ul class="nav nav-tabs justify-content-evenly text-center">
        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['student']">Student</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['assitance']">Assitance</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['arrangement']">Arrangement</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['training']">Training</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['payment']">Payment</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['routine']">Routine</a>
        </li>

        <li class="col-md-3 col-sm-6 nav-item" *ngIf="loginService.isLoggedIn()">
            <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['user']">User</a>
        </li>
    </ul>

    <div>
        <a *ngIf="!loginService.isLoggedIn()" [routerLink]="['Login']">(Login)</a>
        <a *ngIf="loginService.isLoggedIn()" [routerLink]="['Login']" (click)="logout()">{{loginService.isLogged()}} (logout)</a>
    </div>
</nav>

<hr/>