<div class="container">
    <table class="table table-info">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">DNI</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Day</th>
                <th scope="col">Update Delete </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Coach  index as i ">
                <th scope="row">{{i+1}}</th>
                <td>{{item.dni}}</td>
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.birth_date  | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button class="btn btn-success" (click)="updateCoach(item)">update</button> --
                    <button class="btn btn-danger" (click)="deleteCoach(item._id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>