.form-select{
    width: 50%;
   
}

.ASSITANCE{
    background-color: #0E6F7A;
    margin-bottom: 30px;
    height: 110px;
    width: 30%;
    padding: 10px;

}
.btn{
    background-color: #0E6F7A;
}