<section class="col-12 red">

    <div class="col-4 m-auto">
        <label class="col-12 text-center m-auto" for="id_date">Date</label>
        <input class="col-12 m-auto" type="date" name="date" id="id_date" [(ngModel)]="assistance.day"/>
    </div>
    
    <div class="col-4 m-auto">
        <label class="col-12 text-center m-auto" for="id_student">Student</label>
        <select class="col-12" id="id_student" name="students" [(ngModel)]="assistance.student">
            <option *ngFor="let s of students" [ngValue]="s">{{s.surname}}, {{s.name}}</option>
        </select>
    </div>
    
    <div class="col-4 m-auto my-5">
        <button class="col-12 btn btn-outline-warning" type="button">Register Assistence</button>
    </div>
</section>