.form-select{
    width: 50%;
   
}

.assistence{
    background-color: #0E6F7A;
    margin-bottom: 30px;
    height: 110px;
    width: 30%;
    padding: 10px;

}
.btn{
    background-color: #0E6F7A;
}

.red {
    outline: 1px solid red;
}

.blue {
    outline: blue 1px solid;
}