<section class="container">
    <div class="col-12 contenedor">
        <div class="col-12 m-3">
            <form class="col-12 row" #formSearch="ngForm">
                <div class="col-8 p-0">
                    <label class="col-12" for="id_search">DNI</label>
                    <input class="col-12" type="text" name="formDni" id="id_search" [(ngModel)]="formDni" required #dni="ngModel"/>
                    
                    <div class="col-12 alert alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                        <div *ngIf="dni.errors.required">Dni is required</div>
                    </div>
                </div>

                <div class="col-4">   
                    <button class="col-12" [disabled]="formSearch.invalid" type="button" (click)="searchDni()">SEND</button>
                </div>
            </form>
        </div>

        <div class="col-12">
            <form class="col-12" id="printJS-form" #formPrint="ngForm">
                <div class="col-12 my-1">
                    <label class="col-12" for="id_student">Student</label>
                    <input class="col-12" type="text" name="student" id="id_student" [(ngModel)]="student" disabled/>
                </div>

                <div class="col-12 my-1">
                    <label class="col-12" for="id_date">Date</label>
                    <input class="col-12" type="date" name="date" [(ngModel)]="payment.pay_day" required #date="ngModel"/>

                    <div class="col-12 alert alert-danger" *ngIf="date.invalid && (date.dirty || date.touched)">
                        <div *ngIf="date.errors.required">Date is required</div>
                    </div>
                </div>

                <div class="col-12 my-1">
                    <label class="col-12" for="id_pay_mode">Mode of Payment</label>
                    <select class="col-12" id="id_pay_mode" name="paymode" [(ngModel)]="payment.pay_mode" required #paymode="ngModel">
                        <option value="cash">Cash</option>
                        <option value="card">Card</option>
                    </select>

                    <div class="col-12 alert alert-danger" *ngIf="paymode.invalid && (paymode.dirty || paymode.touched)">
                        <div *ngIf="paymode.errors.required">Mode of pay is required</div>
                    </div>
                </div>

                <div class="col-12 my-1">
                    <label class="col-12" for="id_arrangement">Arrangement</label>
                    <input class="col-12" type="text" name="arrangement" id="id_arrangement" [(ngModel)]="payment.name_arrangement" disabled/>
                </div>

                <div class="col-12 my-1">
                    <label class="col-12" for="id_amount_day">Amount day</label>
                    <input class="col-12" type="number"  name="amount_day" id="id_amount_day" [(ngModel)]="payment.amount_day" disabled/>
                </div>

                <div class="col-12 my-1">
                    <label class="col-12" for="id_price">Price</label>
                    <input class="col-12" type="number"  name="price" id="id_price" [(ngModel)]="payment.price" disabled/>
                </div>
            </form>

            <div class="col-12 row justify-content-evenly my-1">
                <button class="col-5" type="button" [disabled]="formPrint.invalid" (click)="createPayment(formSearch, formPrint)">Register Payment</button>
                <button class="col-5" type="button" [disabled]="formPrint.invalid" (click)="print()">Print Payment</button>
            </div>
        </div>
    </div>
</section>