<section class="col-12">
    <!-- Img -->
    <div class="col-12 text-center">
        <img class="" src="../../../../../../assets/imgicon/users.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
        <div class="col-12 row row-cols-3 my-3">
            <div class="">
                <label class="col-12" for="id_dni">DNI</label>
                <input class="col-10" type="text" id="id_dni" name="dni" [(ngModel)]="student.dni"/>
            </div>

            <div>
                <label class="col-12" for="id_name">Name</label>
                <input class="col-10" type="text" id="id_name" name="name" [(ngModel)]="student.name"/>
            </div>
                
            <div>
                <label class="col-12" for="id_surname">Surname</label>
                <input class="col-10" type="text" id="id_surname" name="surname" [(ngModel)]="student.surname"/>
            </div>
        </div>

        <div class="col-12 row row-cols-3 my-3">
            <div>
                <label class="col-12" for="id_email">Email</label>
                <input class="col-10" type="email" id="id_email" name="email" [(ngModel)]="student.email"/>
            </div>
                
            <div>
                <label class="col-12" for="id_phone">Phone</label>
                <input class="col-10" type="text" id="id_phone" name="phone" [(ngModel)]="student.phone"/>
            </div>
                
            <div>
                <label class="col-12" for="id_address">Address</label>
                <input class="col-10" type="text" id="password" name="address" [(ngModel)]="student.address"/>
            </div>
        </div>
            
        <div class="col-12 row row-cols-3 my-3">
            <div>
                <label class="col-12" id="id_birth_date">Birth Date</label>
                <input class="col-10" type="date" id="id_birth_date" name="birth_date" [(ngModel)]="student.birth_date"/>
            </div>

            <div>
                <label class="col-12" for="id_start_date">Start Date</label>
                <input class="col-10" type="date" id="id_start_date" name="start_date" [(ngModel)]="student.start_date"/>
            </div>
                
            <div>
                <label class="col-12" for="id_arrangement">Arrangement</label>
                <select class="col-10" id="id_arrangement" name="arrangement" [(ngModel)]="student.arrangement">
                    <option *ngFor="let a of arrangements" [ngValue]="a">
                        {{a.name}}, ${{a.price}}, Day: {{a_mount_day}}, Hour: {{a.amount_hour}}
                    </option>
                </select>
            </div>
        </div>

        <div class="my-3">
            <button class="d-block m-auto" type="button" (click)="registerStudent()">REGISTER</button>
        </div>
    </form>
</section>