<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../../../../assets/imgicon/users.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="DNI"
                [(ngModel)]="student.dni">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Name"
                [(ngModel)]="student.name">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="SurName"
                [(ngModel)]="student.surname">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Email"
                [(ngModel)]="student.email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Number Phone"
                [(ngModel)]="student.phone">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Address"
                [(ngModel)]="student.address">
            <br><br>
            <label class="col-md-4 control-label">Start Date</label>
            <input type="date" id="password" class="fadeIn third" name="login" placeholder="Start Date"
                [(ngModel)]="student.start_date">
            <br><br>
            <label class="col-md-4 control-label">Birth Date</label>
            <input type="date" id="password" class="fadeIn third" name="login" placeholder="Birth Date"
                [(ngModel)]="student.birth_date">
            <br><br>
            <div class="form-group">
                <label class="col-md-4 control-labell">Arrangement</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="arrangement" class="form-control selectpicker" [(ngModel)]="student.arrangement">
                            <option *ngFor="let arrage of Arragement" [ngValue]="arrage">{{arrage.amount_day}} ,
                                {{arrage.price}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Text selec-->
            <div class="form-group">
                <label class="col-md-4 control-labell">Coach</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="coach" class="form-control selectpicker" [(ngModel)]="student.coach">
                            <option *ngFor="let coa of Coach" [ngValue]="coa">{{coa.name}} ,
                                {{coa.surname}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="registerStudent()">
        </form>
        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->

    </div>
</div>