* {
  padding: 0%;
  margin: 0%;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/***********************************************/

.red {
  outline: red 1px solid;
}

.blue {
  outline: solid 1px blue;
}

/***************************SECTION1***************************/
/*************************BUTTON-LOGIN*************************/

.btn-login {
  position: fixed;
  top: 5%;
  right: 8%;
  width: 15%;
}

.btn-login > button {
  border-style: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  background: linear-gradient(to right, #e63131, #202231);
}

.btn-login > button:hover {
  background: linear-gradient(to right,#ff0000, #c31313, #6d4444);
}



/***************************SECTION2***************************/
/**************************************************************/

.p-absolute {
  position: absolute;
  top: 3%;
  left: 5%;
  font-size:  10vmin;
  z-index: 2;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-presentation
{
  position: absolute;
  top: 30%;
  right: 10%;
  background-color: #d5e9ecc2;
  z-index: 1;
  text-indent: 25px;
}
span {
  color: #800000;
}


.planes .card-body{
  background: linear-gradient(to right, rgb(1, 7, 5), rgb(41, 70, 59), rgb(37, 73, 67));
  color: antiquewhite;
  padding-top: 2%;
  padding-bottom: 2%;
}

.planes .card-footer{
  background-color: #d5e9ecc2;
}

/***************************SECTION3***************************/
/**************************************************************/

.bg-dg{
  background: linear-gradient(to right, rgb(34, 32, 32),rgba(144, 52, 52, 0.829), rgba(161, 32, 32, 0.9), rgba(231, 6, 6, 0.685), rgba(255, 0, 0, 0.486));
}

.h-200{
  height: 200px;
}

.br-100 {
  border-radius: 100%;
  height: 100px;
}


.p-img {
  height: 100px;
  opacity: 0.85;
}


/****************************Media query ****************************/

@media (max-width: 860px) {
  .card-presentation {
    display: none;
  }
}