<section>
    <div class="btn-login">
        <button class="col-10 navbar-fixed-bottom" type="button" (click)="getLogin()">Iniciar</button>
    </div>
</section>

<section class="col-12">
    <p class="p-absolute"> 
    LUCHAR POR <br/><span>UNA MEJOR</span><br/> SALUD
    </p>
    <img class="col-12 video-animations img-fluid d-block" src="assets/img/imgPortada.jpg">
    
    
    <div class="card text-dark col-6 mb-5 card-presentation">
         
        <div class="card-body">
          <h5 class="card-title fs-4">  ¿Que hacemos?</h5>
          <p class="card-text fs-5">Nuestro objetivo es guiarte hasta tu meta, mejorar tu salud es nuestra misión, para ello contamos con el mejor equipamiento y los mejores Coachs de la ciudad, además de un seguimiento virtual al cumplimiento de las rutinas, bienvenido.</p>
        </div>
      </div>
</section>
<section>
    <div class="col-12 text-center">
        <h2 class="col-12 mt-5">Nuestros Planes Mensuales</h2>
        <div class="col-12">
            <div class="col-11 m-auto row justify-content-evenly mt-5 mb-5 planes" >
                
                <div class="card col-6 col-sm-3 m-auto border-5 border-dark" *ngFor="let a of arrangements">
                    <img class="card-img-top" [src]="a.img" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">PLAN : {{a.name}}</h5>
                      <p class="card-text">Dias por Semana : {{a.amount_day}}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-dark fs-4">Precio Mensual : $ {{a.price}}!</small>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</section>
