<div class="row">
    <h3 class="col-12 text-center text-primary text-decoration-underline">LIST ROUTINE BEGINNER</h3>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Coach</th>
                <th scope="col">Objetive</th>
                <th scope="col">Serie</th>
                <th scope="col">Repetition</th>
                <th scope="col">Rest</th>
                <th scope="col">Intensy</th>
                <th scope="col">Training</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>20</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominal de bicicleta de pie</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>20</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Toque al Talón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Tablón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>6</td>
                <td>2''</td>
                <td>beginner</td>
                <td>Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>2''</td>
                <td>beginner</td>
                <td>Twits Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Inverso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>5</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Elevación de piernas</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>15</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>22</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Cruch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>8</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Elevaciones de piernas</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Tablón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Giro oblicuo acostado</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Sebas</td>
                <td>Descanso</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>6</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Twits Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Toque al Talón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch de bicicleta</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>

            <tr>
                <th scope="row">6</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>22</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Crunch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>14</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Twist Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Inverso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>8</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Bicho Muerto</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>

            <tr>
                <th scope="row">7</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>22</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominal de bicicleta de pie</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>14</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Crunch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>18</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Toque al Talón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>6</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>6</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Izquierdo</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>

            <tr>
                <th scope="row">8</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>Descanso</td>
                <td></td>


            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>24</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>18</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Toque de Talón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Elevación de Piernas</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:30''</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Tablón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Giro oblicuo acostado</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>

            <tr>
                <th scope="row">10</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>6</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>14</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Twist Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Inverso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch de Bicicleta</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>

            <tr>
                <th scope="row">11</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>8</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Twist Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:40''</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Tablón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Izquierdo</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Bicho Muerto</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>Descanso</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">13</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>24</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominales de Bicicleta de Pie</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>24</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>14</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Twist Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Izquierdo</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Puente Lateral Derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>10</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>18</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Twist Ruso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch Inverso</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Butt Bridge</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>14</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Giro Oblicuo Acostado</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Crunch de Bicicleta</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Sebas</td>
                <td>Abdominales Firmes</td>
                <td>1</td>
                <td>00:20''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Elevación de Rodillas</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30''</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Saltos de Tijera</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>26</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>16</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Crunch Abdominales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>20</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Toque al Talón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Elevaciones de Piernas</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>00:40</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Tablón</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>2</td>
                <td>12</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Bicho Muerto</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>3</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Plancha Izquierda en T</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>3</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Plancha Derecha en T</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de Cobra</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado derecho</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>00:30</td>
                <td>1''</td>
                <td>beginner</td>
                <td>Estiramiento de giro tumbado izquierdo</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger">Descargar Rutina Pdf</button>

</div>