<!DOCTYPE html>
<html>


<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="../login/login.component.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">

        <div class="img">
            <img src="../../../../assets/imgicon/parejaPesas.jpg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="../../../../assets/imgicon/userpassword_deusuari_787.png">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input" id="id_user_name" name="user_name" [(ngModel)]="user.user_name">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input" id="id_password" name="password" [(ngModel)]="user.password">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>

                <button class="btn" type="button" (click)="login()">LOGIN</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
