<section class="">
    <div class="text-center d-flex justify-content-center animation">
        <div id="formContent">

            <!-- Img -->
            <div class="col-12 py-3 my-3">
                <img src="./../../../../assets/imgicon/aptitud.png" id="icon" alt="User Icon"/>
            </div>

            <!-- Login Form -->
            <form class="text-start">
                <div class="px-5 py-1">
                    <label class="col-12" for="id_user_name">User name</label>
                    <input class="col-12" type="text" id="id_user_name" name="user_name" [(ngModel)]="user.user_name"/>
                </div>

                <div class="px-5 py-1">
                    <label class="col-12" for="id_password">Password</label>
                    <input class="col-12" type="password" id="id_password"  name="password" [(ngModel)]="user.password"/>
                </div>
                
                <div class="px-5 py-3">
                    <button class="col-10 d-block m-auto" type="button" (click)="login()">LOG IN</button>
                </div>
            </form>

            <!-- Forgot Passowrd -->
            <div id="formFooter">
                <a class="" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</section>