<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="./../../../../assets/imgicon/aptitud.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <div>
                <label for="id_user_name">User name</label>
                <input type="text" id="id_user_name" class="fadeIn second" name="user_name" [(ngModel)]="user.user_name" placeholder="user"/>
            </div>

            <div>
                <label for="id_password">Password</label>
                <input type="password" id="id_password" class="fadeIn third" name="password" [(ngModel)]="user.password" placeholder="password"/>
            </div>
            
            <div>
                <input type="button" class="fadeIn fourth" value="Log In" (click)="login()"/>
            </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>