.red {
    outline: red solid 1px;
}

.blue {
    outline: blue solid 1px;
}

button {
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    background-image: linear-gradient(white, red, black);
}
