<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Routine</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Beginner</a></li>
                <li><a class="dropdown-item" href="#">Intermediate</a></li>
                <li><a class="dropdown-item" href="#">Advanced</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Routine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Challenge</a>
        </li>
    </ul>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/imgicon/Frase1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/imgicon/Frase2" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="asstets/imgicon/Frase3" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div>
    <table class="table table-success table-striped">

        <!-- On rows -->
        <tr class="table-success">Coach</tr>
        <tr class="table-success">Objetive</tr>
        <tr class="table-success">Serie</tr>
        <tr class="table-success">Repetition</tr>
        <tr class="table-success">Rest</tr>
        <tr class="table-success">Intensy</tr>
        <tr class="table-success">Training</tr>

        <!-- On cells (`td` or `th`) -->
        <tr>

            <td class="table-success">...</td>
            <td class="table-success">...</td>
            <td class="table-success">...</td>

        </tr>
    </table>

    <button class="btn btn-danger">Imprimir Rutina Pdf</button>
</div>