<div class="row">
    <h3 class="col-12 text-center text-primary text-decoration-underline">LIST CHALLENGE</h3>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Coach</th>
                <th scope="col">Objetive</th>
                <th scope="col">Serie</th>
                <th scope="col">Repetition</th>
                <th scope="col">Rest</th>
                <th scope="col">Intensy</th>
                <th scope="col">Training</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Martin</td>
                <td>Challenge</td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Flexiones de Brazos</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Burpees</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>50</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Abdominal</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>30</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>50</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Espinales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Saltos Paracaida</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Estocada con salto</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Sentadillas Profundas</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Martin</td>
                <td>Challenge</td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Flexiones de Brazos</td>

            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Burpees</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>50</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Abdominal</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>30</td>
                <td>0''</td>
                <td>beginner</td>
                <td>Escalada de Montaña</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>50</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Espinales</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Saltos Paracaida</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>0''</td>
                <td>Challenge</td>
                <td>Estocada con salto</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>1</td>
                <td>20</td>
                <td>3''</td>
                <td>beginner</td>
                <td>Sentadillas Profundas</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger">Descargar Rutina Pdf</button>

</div>